#title{
    background-color: rgb(171, 171, 171);
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, .links{
    color: darkgreen;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul{
    padding: 0;
}

.links{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    background-color: papayawhip;
    margin: 0.2rem;
    padding-top: 15px;
    display: inline-block;
    list-style: none;
}

img{
    height: auto;
    width: 200px;
    
}

.odd.nash.ingredients, .even.butter, .katsu.steps{
    background-color: rgb(213, 240, 213);
}

.even.nash.ingredients, .butter.steps{
    background-color: blanchedalmond;
}

.odd.nash.steps, .katsu.ingredients{
    background-color: lightcyan;
}

.even.nash.steps, .odd.butter{
    background-color: lightpink;
}

.description{
    background-color: lavender;
}